# Временные файлы LaTeX
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.db
*.DS_Store

node_modules/
.env

__pycache__/
*.pyc
venv/
env/

# База данных и загруженные файлы
src/instance/
src/static/uploads/