{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h3 class="mb-3 text-center">Регистрация</h3>
        <div class="card p-4 shadow-sm">
            <form method="POST">
                <div class="mb-3">
                    <label>Логин</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Пароль</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Роль</label>
                    <select name="role" class="form-select">
                        <option value="user">Пользователь (Исполнитель)</option>
                        <option value="admin">Администратор (Менеджер)</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Зарегистрироваться</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}